@import "./fonts.css";

@font-face {
    font-family: 'StemmeForDyrene';
    src: url('../assets/fonts/StemmeForDyrene-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-brand-bg: #FFD4D0;
    --color-brand-text: #2f2f2f;
    --color-brand-text-secondary: #A7C7E7;
    --color-brand-primary: #FFEED6;
    --color-brand-secondary: #F5B7B1;
    --color-brand-accent: #A7C7E7;
    --color-brand-footer: #CDEAC0;
    --color-brand-hover: #97A13B;

    --color-brand-border: #CDEAC0;


    --font-heading: StemmeForDyrene, ui-sans-serif, system-ui;
    --font-body: StemmeForDyrene, ui-sans-serif, system-ui;

    color-scheme: light;
}

body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    font-family: var(--font-body);
}

footer {
    background-color: var(--color-brand-footer);
    color: var(--color-brand-text);
    font-family: var(--font-body);
    padding: 0px 10px 0px 5px;
}



/* You can still use Tailwind utilities below: */
.container {
    @apply max-w-6xl mx-auto px-4;
}