---
import Base from "../../layouts/Base.astro";
import SocialGrid from "../../components/SocialGrid.astro";
---

<Base title="StemmeForDyrene – Kontakt">
    <section class="container grid md:grid-cols-2 gap-8 items-center py-16">
        <div>
            <h1 class="font-heading text-4xl md:text-5xl leading-tight">
                Kon<span class="text-brand-primary">takt</span>
            </h1>
            <p class="mt-4 text-lg opacity-90">
                Har du spørgsmål eller brug for hjælp? Du er altid velkommen til
                at kontakte mig.
            </p>
        </div>
    </section>
</Base>
