---
import Base from "../layouts/Base.astro";
---

<Base title="StemmeForDyrene – Viden & omsorg for dyr">
	<!--	<section class="min-h-screen flex flex-col justify-center">  -->
	<section class="container flex items-center gap-8 py-16">
		<div>
			<h1 class="font-heading text-4xl md:text-5xl leading-tight">
				Hej! Og velkommen til<span class="color-brand-text-secondary"
					>StemmeForDyrene!
				</span>
			</h1>
			<p class="mt-4 text-lg">
				Mit navn er Julie-Thilde og jeg er dyreejer, dyreven og
				dyreværnsaktivist. Jeg har oprettet denne side for at dele min
				viden om dyr og dyrevelfærd, samt for at skabe et fokus på
				vigtigheden af at behandle dyr med respekt og omsorg.
			</p>
		</div>
	</section>
</Base>
